body {
    font-family: 'Roboto', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid black;
}
th {
    background-color: #ddd7d7;
}
